@theme {
  --font-sans:
    "Fira Code", "ui-sans-serif", "system-ui", "-apple-system",
    "system-ui", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "Noto Sans",
    "sans-serif", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  --font-body:
    "Fira Code", "ui-sans-serif", "system-ui", "-apple-system",
    "system-ui", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "Noto Sans",
    "sans-serif", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  --font-fira: "Fira Code";
  --font-ag-fett: "Apfel Grotezk Fett";
  --font-ag-satt: "Apfel Grotezk Satt";

  --color-nord-darkest: var(--nord0);
  --color-nord-much-darker: var(--nord1);
  --color-nord-darker: var(--nord2);
  --color-nord-dark: var(--nord3);
  --color-nord-light: var(--nord4);
  --color-nord-lighter: var(--nord5);
  --color-nord-lightest: var(--nord6);
  --color-primary: var(--nord7);
  --color-primary-accent: var(--nord8);
  --color-secondary: var(--nord9);
  --color-tertiary: var(--nord10);
  --color-error: var(--nord11);
  --color-warning: var(--nord12);
  --color-caution: var(--nord13);
  --color-success: var(--nord14);
  --color-nord15: var(--nord15);
}

@theme .gruvbox-dark {
  --bg: #282828;
  --bg0: #282828;
  --bgH: #1d2021;
  --bgS: #32302f;
  --bg1: #3c3836;
  --bg2: #504945;
  --bg3: #665c54;
  --bg4: #7c6f64;

  --fg: #ebdbb2;
  --fg0: #fbf1c7;
  --fg1: #ebdbb2;
  --fg2: #d5c4a1;
  --fg3: #bdae93;
  --fg4: #a89984;

  --red: #cc241d;
  --red2: #fb4934;
  --green: #98971a;
  --green2: #b8bb26;
  --yellow: #d79921;
  --yellow2: #fabd2f;
  --blue: #458588;
  --blue2: #83a598;
  --purple: #b16286;
  --purple2: #d3869b;
  --aqua: #689d6a;
  --aqua2: #8ec07c;
  --orange: #d65d0e;
  --orange2: #fe8019;
  --gray: #a89984;
  --gray2: #928374;
}

/* @theme .gruvbox-light {
  --bg: #fbf1c7;
  --bg0: #fbf1c7;
  --bgH: #f9f5d7;
  --bgS: #f2e5bc;
  --bg1: #ebdbb2;
  --bg2: #d5c4a1;
  --bg3: #bdae93;
  --bg4: #a89984;

  --fg: #3c3836;
  --fg0: #282828;
  --fg1: #3c3836;
  --fg2: #504945;
  --fg3: #665c54;
  --fg4: #7c6f64;

  --red: #cc241d;
  --red2: #9d0006;
  --green: #98971a;
  --green2: #79740e;
  --yellow: #d79921;
  --yellow2: #b57614;
  --blue: #458588;
  --blue2: #076678;
  --purple: #b16286;
  --purple2: #8f3f71;
  --aqua: #689d6a;
  --aqua2: #427b58;
  --orange: #d65d0e;
  --orange2: #af3a03;
  --gray: #7c6f64;
  --gray2: #928374;
} */
